
body {
  background-color: #3c3c3c;
}
      
.luis {
  width: 300px;
  padding-top: 50px;
  padding-bottom: 10px;
  border-radius: 100px;
  transition: width, 1s;
  margin-bottom: 10px;
}

.luis:hover {
  width: 500px

}

.job-title {
  display: block;
  width: max-content;
  margin: 8px auto;
  position: relative;
  padding: 6px 16px;
  font-size: 25px;                 
  line-height: 1.2;
  background-color: rgba(216, 216, 216, 0.507);
  border: 1px solid rgba(0,0,0,.35);
  border-radius: 999999999999999999999999px;  

}

.experience {
  font-size: 25px;
  font: 50;
  background-color: rgba(255, 255, 255, 0.507);
  color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 1020px;
  margin-left: 1020px;
}
      
 .body-text {
  background-color: rgba(255, 255, 255, 0.185);
  color: black;
  text-align: center;
  font: 100;
  font-size: 70px;
  border-radius: 10px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.luis-heading {
  display: block;
  margin: 8px auto;
  position: relative;
  padding: 6px 16px;
  font-size: 25px;                 
  line-height: 1.2;
  border: 1px solid rgba(0,0,0,.35);
  border-radius: 9999px;  
}

.heading {
  color: white;
  text-align: center;
  font: 100;
  font-size: 120px;
  border-radius: 10px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 1px;
  padding-bottom: 10px;
}
      
.titles {
  border: none;
}
      
.bird {
  width: auto;
  transition: width 5s;
  color: white;
  text-align: center;
}

.bird:hover {
  width: 500px;
}