
body {
  background-color: #3c3c3c;
}
      
.luis {
  width: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 100px;
  transition: width;
}

.luis:hover {
  width: 500px

}

.job {
  font-size: 25px;
  font: 50;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 2px;
}
      
 .body-text {
  color: black;
  transition: font-size 2s;
  text-align: center;
  font: 100;
  font-size: 70px;
  border-radius: 10px;
  margin-right: 200px;
  margin-left: 200px;
}

.heading {
  color: white;
  text-align: center;
  font: 100;
  font-size: 120px;
  border-radius: 10px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 2px;
}
      
.titles {
  border: none;
}
      
.bird {
  width: auto;
  transition: width 5s;
  color: white;
  text-align: center;
}

.bird:hover {
  width: 500px;
}